#main-container {
    display:flex;
    flex-wrap:wrap;
}

#class-panel {
}

#gameplay-window, #title-bar, #subtext, h4, .button, #fight-console {
    text-align:center;
}

#gameplay-window {
    flex-basis:600px;
}

#title-bar{
    display:inline-flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
}
button{
    padding:8px 14px;
    font-size:18px;
}

#fight-console {
    width:auto;
    height:200px;
    background:#777777;
    color:yellow;
    overflow:scroll;
    padding:5px;
    line-height:.5em;
}

#HUD {
    background:#ebeef4;
    flex-basis:180px;
    height:auto;
    padding:20px;
    font-size:18px;
    font-weight:bold;
}

.flex {
    /* display:flex;
    flex-wrap:wrap; */

};

.hidden {
    display:none;
};